/******ESTILOS DEL MODAL PARA VISUALIZAR FOTOS******/

.modal-photo {
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  height: 600px;
  max-width: 600px;
  position: relative;

  width: 100%;
  & .modal-image {
    border-radius: 8px;
    height: 100%;
    object-fit: contain;
    vertical-align: top;
    width: 100%;
  }

  & .modal-title {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    color: #fff;
    font-size: 22px;
    padding: 16px;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}

.rotate-buttons {
  display: flex;
  justify-content: space-between;
  width: 150px;
  position: absolute;
  top: 0;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.6);
  left: calc(50% - 75px);
  .icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}
