@import '../../utils/constants.scss';

.ReportDetail {
    padding-bottom: 2rem;

    .btn-pdf {
        position: fixed;
        bottom: .75rem;
        right: .75rem;
        border: none;
        outline: none;
        padding: .75rem;
        border-radius: 100%;
        background-color: $colorYellow;
        transition: background-color .35s, transform .15s;
        z-index: 1000;

        &:hover {
            background-color: darken($colorYellow, 10);
        }

        &:active {
            transform: scale(.9);
        }

        svg {
            width: 1.75rem;
            height: 1.75rem;
        }
    }

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;

        .label {
            display: inline-block;
            margin-right: .5rem;
        }
    }
    &-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;

        .navigation {
            background-color: $colorMain;
            padding: .5rem 1rem;
            border-radius: 7px;
            span {
                text-decoration: none;
                color: #fff;
                margin-right: 1rem;
                font-weight: bold;
                cursor: pointer;

                &:last-child {
                    margin-right: 0;
                }

                &.active {
                    color: $colorSecondary;
                }
            }
        }
    }

    &-basicInfo {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: rgba(#000, .4);
        margin: 0 2rem;
        padding: 1rem 2rem;
        border-radius: 7px;

        div {
            width: 25%;

            &:first-child {
                width: 50%;

                span {
                    width: 140px;
                }
            }

            &:nth-child(2) {
                span {
                    text-align: right;
                    width: 130px;
                }
            }

            &:last-child {
                span {
                    width: 180px;
                    text-align: right;
                }
            }
        }

        .section--item {
            font-size: 16px;
            margin-bottom: .5rem;

            &:last-child {
                margin-bottom: 0;
            }

            span, strong {
                display: inline-block;
            }

            span {
                color: $colorSecondary;
                text-transform: uppercase;
                margin-right: .5rem;

                &::after {
                    content: ':';
                    margin: 0 .35rem;
                }
            }

            strong {
                text-transform: capitalize;

                &::first-letter {
                    text-transform: uppercase;
                }
            }
        }
    }

    .title {
        width: calc(100% - 4rem);
        background-color: $colorSecondary;
        color: $colorMain;
        padding: .5rem;
        margin: 1rem auto;
        text-align: center;
        border-radius: 5px;
    }

    .empty-message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 10rem;
            height: 10rem;
            object-fit: contain;
            margin-bottom: .5rem;
        }

        h3 {
            color: $colorYellow;
            font-weight: normal;
        }
    }

    .table {
        animation: fadeEffect 1s;
        display: flex;
        flex-direction: column;
        width: 95%;
        background-color: rgba(#000, .4);
        margin: 0 auto;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        overflow-x: auto;
        border-radius: 7px;

        &-head, &-body, &-footer {
            min-width: 1024px;
        }

        span {
            display: inline-block;
        }

        &-head {
            border-bottom: 2px solid $colorYellow;
            color: $colorYellow;
            display: flex;
            justify-content: space-between;
            padding: 10px 0;

            span {
                width: calc(100% / 9);
                text-align: center;

                &:first-child, &:nth-child(3), &:nth-child(5) {
                    width: 65px;
                }

                &:nth-child(4) {
                    width: 250px;
                }
            }
        }

        .row {
            border-bottom: 1px solid #fff;
            display: flex;
            justify-content: space-between;
            padding: 10px 0;

            span {
                width: calc(100% / 9);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-align: center;
                text-transform: uppercase;

                &:first-child, &:nth-child(3), &:nth-child(5) {
                    width: 65px;
                }

                &:nth-child(4) {
                    width: 250px;
                }

                &:last-child {
                    //text-align: right;
                    padding-right: 1rem;
                }
            }
        }

        &-footer {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            background-color: rgba(#000, .75);
            font-size: 1.5rem;
            padding: .5rem 1rem;

            span {
                &:first-child {
                    text-transform: uppercase;
                    font-weight: bold;
                    color: $colorYellow;
                    margin-right: 1rem;
                }
            }
        }

        &.commissions {
            .table-head, .row, .table-footer {
                span {
                    width: calc(100% / 7);
                }
            }

            .table-footer {
                span {
                    text-align: center;

                    &:first-child {
                        width: calc(100% / 7 * 4);
                    }

                    &:last-child {
                        text-align: right;
                    }
                }
            }
        }

        &.summary {
            .table-head, .row, .table-footer {
                span {
                    width: calc(100% / 5);
                }
            }
        }
    }
}