@import '../../utils/constants.scss';

.kyc-header {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  color: $colorSecondary;
  font-weight: bold;
  font-size: 24px;
  & .icon-container {
    width: 24px;
  }

  & .icon {
    height: 100%;
    cursor: pointer;
  }
}

.card-container {
  position: relative;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 340px;
  grid-template-rows: min-content min-content;
}

.three-columns {
  justify-content: space-between;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
  border-radius: 8px;
  background-color: rgba(#000, 0.4);
  padding: 32px;

  & .card-title {
    font-size: 24px;
    font-weight: 500px;
    margin-bottom: 16px;
    color: $colorYellow;
  }

  .label-group {
    margin-bottom: 25px;
  }

  & .card-label {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 8px;
    display: block;
    color: $colorSecondary;
  }

  & .card-link {
    text-decoration: underline;
    margin: 8px 0;
    cursor: pointer;
  }

  & .card-value,
  .card-link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #ffffff;
  }
}

button.verify-button {
  margin-left: 16px;
  border: 1px solid $colorGreen;
  background: transparent;
  color: $colorGreen;
  outline: $colorGreen;

  &:hover {
    box-shadow: 0 0 0 3px rgba($colorGreen, 0.4);
  }
}

button.delete-button {
  margin-left: 16px;
  border: 1px solid $colorRed;
  background: transparent;
  color: $colorRed;
  outline: $colorRed;

  &:hover {
    box-shadow: 0 0 0 3px rgba($colorRed, 0.4);
  }
}

.person-name {
  font-weight: bold;
  font-size: 32px;
  color: #fff;
}

.center-element {
  z-index: 99;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mt {
  margin-top: 16px;
}

/******KYC PERSONA******/
.title-and-actions {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.KYCPerson,
.KYCEnterprise {
  max-width: 1500px;
  margin: auto;
  padding: 25px;
}

.two-rows {
  grid-row-end: span 2;
}

.identity-container {
  text-align: center;
  .identity {
    & span {
      display: block;
      margin-top: 12px;
      margin-bottom: 4px;
      font-size: 18px;
    }
  }
}

.image-container {
  width: 100%;
  height: 250px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  & img {
    object-fit: fill;
    border-radius: 8px;
    vertical-align: top;
    width: 100%;
    height: 100%;
    cursor: zoom-in;
  }
}

.empty-beneficiary {
  & p {
    margin-top: 100px;
    text-align: center;
    font-size: 24px;
  }
}

/******KYC EMPRESAS******/

.beneficiaries-table {
  margin-top: 25px;
  padding: 32px;
}

.transactions-and-name {
  display: grid;
  grid-template-columns: max-content 1fr 340px;
  grid-gap: 16px;
  justify-items: start;
  align-items: end;
  padding: 16px 0;
}

.results-container {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr;
  width: 340px;
}

.result-card {
  background-color: $colorMain;
  border-radius: 8px;
  padding: 8px;

  & .dimention {
    font-size: 20px;
    font-weight: bold;
    color: $colorYellow;
    text-align: center;
    display: block;
    margin-bottom: 5px;
  }

  & .metric {
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    text-align: center;
  }
}

.transactions-title,
.commerce-type {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.commerce-name {
  font-weight: bold;
  font-size: 32px;
}

.actions-buttons {
  display: flex;
  align-self: center;
}
