@import '../../utils/constants.scss';

.DetailRecords {
    position: relative;

    h2 {
        margin-bottom: 0;
        margin-top: .25rem;
    }

    .empty {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        img {
            width: 250px;
            margin-bottom: 1rem;
        }
    }
}