@import '../../utils/constants.scss';

.PercentageLoader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000;
    width: 45%;
    height: 30%;
    padding: 1rem 2rem;
    border-radius: 7px;
    box-shadow: 0 0 15px -3px rgba(#fff, .2);

    h2 {
        color: $colorYellow;
        text-align: center;
    }

    .list-content {
        overflow-y: auto;
        background-color: rgba($colorMain, .25);
        color: $colorSecondary;
        padding: 1rem;
        text-align: center;
        border-radius: 7px;
        min-height: 22px;
        box-sizing: content-box;
    }

    .percentage {
        position: relative;
        background-color: rgba(#fff, .075);
        width: 100%;
        height: 2rem;
        border-radius: 7px;
        overflow: hidden;

        .percentage-label {
            position: absolute;
            display: block;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: $colorYellow;
            mix-blend-mode: difference;
            font-size: 1.15rem;
            font-weight: bold;
            z-index: 100;
        }

        .value {
            height: 100%;
            background-color: $colorYellow;
            background-size: 50px 50px;
            background-image: linear-gradient(
                -45deg,
                darken($colorYellow, 10) 25%,
                transparent 25%, transparent 50%,
                darken($colorYellow, 10) 50%,
                darken($colorYellow, 10) 75%,
                transparent 75%, transparent
            );
            animation: Animation 1s linear infinite;

            @keyframes Animation { 
                0% {
                    background-position: 0 100%;
                  }
                  100% {
                    background-position: 100px 100%;
                  }
            }
        }
    }
}