@import "../../utils/constants.scss";

.container-logs {
  margin: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .console {
    background-color: #000;
    margin: 10px;
    overflow: auto;
    flex: 1;

    .header {
      align-items: center;
      background-color: $colorSecondary;
      color: $colorMain;
      display: flex;
      justify-content: space-between;
      padding: 10px 25px;
      margin-bottom: 10px;
    }

    h2.empty {
      opacity: 0.5;
      text-align: center;
      padding: 25px;
    }

    .row {
      padding: 0 5px;
      display: flex;
      margin: 2px 0;

      .line-number {
        border-right: 1px solid #ccc;
        text-align: center;
        opacity: 0.5;
        width: 50px;
      }

      .text-log {
        margin-left: 10px;
      }
    }
  }
}
