@import "../../utils/constants.scss";

div.container-records {
  .header-content {
    margin-top: 25px;
    align-items: center;
    display: flex;
    padding: 0 25px;
    justify-content: space-between;

    .row {
      display: flex;
      flex-direction: column;
      span {
        font-size: 12px;
        margin-bottom: 5px;
      }
    }

    .trading {
      display: flex;
      align-items: center;

      span.message {
        color: $colorYellow;
        font-size: 12px;
        margin-right: 10px;
        opacity: 0.8;
      }

      select {
        margin: 0 10px;
      }

      input {
        text-align: center;
        width: 64px;
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
  }

  .content {
    display: flex;
    justify-content: space-between;

    .collection {
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 10px;
      padding: 20px;
      min-height: 512px;
      margin: 25px;
      height: 75vh;
      overflow: auto;
      width: 45%;

      .menu-tab {
        border: 2px solid $colorYellow;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 10px;
        display: flex;
        width: 100%;

        .item {
          color: $colorYellow;
          transition: $transition;
          position: relative;
          padding: 10px;
          cursor: pointer;
          text-align: center;
          width: 33.3%;

          &.active {
            background-color: $colorYellow;
            color: $colorMain;
          }

          .request {
            background-color: red;
            color: #FFF;
            border-radius: 25px;
            font-size: 12px;
            position: absolute;
            padding: 5px 0;
            text-align: center;
            top: 10%;
            margin-left: 10px;
            width: 50px;
            // right: 5%;
          }
        }
      }

      .empty {
        align-items: center;
        animation: fadeEffect 1s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 25px;

        img {
          width: 256px;
          margin-bottom: 10px;
        }
      }

      .separator {
        margin: 25px 0;
        // border-bottom: 1px solid #FFF;
      }

      h2.title {
        color: $colorYellow;
        margin-bottom: 15px;
        font-weight: normal;
      }

      &:last-child {
        h2.title {
          text-align: right;
        }
      }

      .table {
        animation: fadeEffect 1s;
        display: flex;
        flex-direction: column;

        &.request {
          .row {
            span {
              width: 33%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;

              &:nth-child(1) {
                text-align: left;
              }

              &:nth-child(2) {
                text-align: center;
              }

              &:nth-child(3) {
                text-align: right;
              }
            }
          }
        }

        &.records {
          .row {
            span {
              width: 25%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;

              &:nth-child(1) {
                text-align: left;
              }

              &:nth-child(2) {
                text-align: center;
              }

              &:nth-child(3) {
                text-align: center;
              }

              &:nth-child(4) {
                text-align: right;
              }
            }
          }
        }

        .header {
          border-bottom: 2px solid $colorYellow;
          color: $colorYellow;
          display: flex;
          justify-content: space-between;
          padding: 10px 0;
        }

        .row {
          border-bottom: 1px solid #fff;
          display: flex;
          justify-content: space-between;
          padding: 10px 0;
          transition: $transition;

          span {
            &.name {
              text-transform: capitalize;
            }

            i {
              opacity: 0.5;
            }
          }

          &:hover {
            background-color: rgba($color: #fff, $alpha: 0.1);
            cursor: pointer;
          }
        }
      }
    }
  }

  .content-modal {
    .content-col {
      display: flex;
      justify-content: space-between;

      .col {
        width: 45%;

        .header {
          align-items: center;
          display: flex;
          justify-content: space-between;
          span {
            border-radius: 25px;
            color: $colorMain;
            padding: 5px 10px;

            &.active {
              background-color: $colorYellow;
            }

            &.inactive {
              background-color: gray;
            }
          }
        }

        &:last-child {
          text-align: right;
        }

        &.empty {
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0.3;

          h2 {
            font-style: oblique;
          }
        }

        h2 {
          color: $colorYellow;
          font-weight: normal;
        }

        .row {
          display: flex;
          flex-direction: column;
          margin: 20px 0;

          .name {
            font-size: 0.7em;
          }

          .value {
            font-size: 1.3em;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &.copy:hover {
              position: relative;
              cursor: pointer;

              &::before {
                border-radius: 3px;
                content: "Toca para copiar";
                font-size: 10px;
                background: #c53c1a;
                right: 0%;
                position: absolute;
                padding: 5px;
              }
            }
          }

          input.text-input {
            margin-top: 5px;
          }

          i {
            opacity: 0.5;
          }
        }
      }
    }

    .confirm-decline {
      animation: fadeEffect 1s;
      width: 100%;

      h1 {
        color: $colorYellow;
        font-weight: normal;
      }

      .row-reason {
        display: flex;
        margin: 25px 0;
        flex-direction: column;

        span.legend-decline {
          font-size: 12px;
          margin-bottom: 5px;
        }
      }
    }

    .buttons {
      display: flex;
      margin-top: 15px;
      justify-content: space-evenly;
    }
  }
}
