@import '~@sweetalert2/theme-dark/dark.scss';

.swal2-actions {
  button {
    color: #1d1d1d !important;
  }
}

// Colors theme
$backgroundGradient: linear-gradient(
  288deg,
  rgba(2, 0, 36, 1) 0%,
  rgba(9, 9, 121, 1) 52%,
  rgba(31, 116, 133, 1) 100%
);
$colorMain: #273234;
$colorSecondary: #9ed3da;
$colorYellow: #ffcb08;
$colorRed: #C0392B;
$colorGreen: #2E8B12;

// Utils constants
$transition: all 0.2s ease;
$animationShadow: rgba($color: $colorYellow, $alpha: 0.5) 0px 0px 0px 3px;

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// text overflow
@mixin text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 150px;
  max-width: 210px;
  cursor: pointer;
}
