@import "../../utils/constants.scss";

nav.navigation-bar {
    align-items: center;
    // background-color: red;
    display: flex;
    justify-content: space-between;
    // margin-top: 25px;
    padding: 0 25px;
    width: 100%;

    img.brand-logo {
        max-width: 128px;
    }

    div.content-links {
        display: flex;
        position: relative;
        align-items: center;

        a {
            text-decoration: none;
            margin: 0 15px;
            color: #FFF;
            font-size: 16px;

            transition: $transition;

            &:hover {
                color: $colorSecondary;
            }

            &.active {
                color: $colorSecondary;
            }
        }
    }

    .dropdown {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: none;
        outline: none;
        padding: .25rem;
        border-radius: 25px;
        font-size: inherit;
        background-color: $colorSecondary;
        color: $colorMain;
        //border: 2px solid $colorSecondary;

        span {
            display: flex;
            flex-direction: row;
            align-items: center;

            strong {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $colorMain;
                color: $colorSecondary;
                padding: .15rem;
                min-width: 1.5rem;
                border-radius: 100px;
                margin-left: .5rem;
            }
        }

        &.admin-connect {
            padding: .5rem 1rem;
            margin-right: .25rem;
            background-color: transparent;
            border: 2px solid $colorGreen;
            color: $colorGreen;

            strong {
                background-color: $colorGreen;
                color: #fff;
            }
        }

        svg {
            height: 1rem;
            transition: transform .25s;
        }

        .arrow {
            transform: rotate(-90deg);
            polygon {
                fill: currentColor;
                stroke: currentColor;
            }
        }

        &.active {
            .arrow {
                transform: rotate(90deg);
            }
        }
    }

    .dropdown-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: calc(100% + 5px);
        right: 0;
        padding: .5rem 0;
        border-radius: 7px;
        text-align: right;
        background-color: $colorMain;
        transform: scaleY(0);
        transform-origin: top center;
        transition: transform .25s;
        box-shadow: 0 0 10px -1px rgba(#fff, .3);
        z-index: 1000;

        &.admin-connect {
            right: 1.5rem;
        }

        a, span {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding: .25rem .75rem;
        }

        &.admin-connect {
            span:after {
                content: '';
                display: block;
                width: .5rem;
                height: .5rem;
                border-radius: 100px;
                background-color: $colorGreen;
                margin-left: .5rem;
            }
        }

        &.active {
            transform: scaleY(1);
        }
    }
}